<form action="/email" method="post">
    
  <label for="email">Email</label>
  <input type="email" id="email" name="email" />
  <br>
  <label for="subject">Subject</label>
  <input type="subject" id="subject" name="email" />
  <br>
  <label for="body">Body</label>
  <textarea id="body" name="body"></textarea>
  <br>
  <input type="submit" />
</form>