<h1> Welcome to My First Sinatra App</h1>
<h2>Capitalize this text</h2>
<form action="/capitalize" method="post">
  <textarea name="text_to_capitalize"></textarea>
  <input type="submit" value="Capitalize me!" />
</form>

<a href="/take_survey">Take An Awesome Survey</a>