<h1> Take this Awesome Survey </h1>

<form action="/survey_results" method="post">
  
  <h3>You work best:</h3>
  <input type="radio" name="work_best" value="with_deadlines" checked/> With DeadLines
  <input type="radio" name="work_best" value="without_deadlines" /> Without DeadLines

  <h3>You consider yourself more:</h3>
  <input type="radio" name="consider_yourself" value="rational" checked/> Rational
  <input type="radio" name="consider_yourself" value="compassionate" /> Compassionate
  
  <h3>You consider yourself more:</h3>
  <input type="radio" name="interested_in" value="ideas" checked/> Ideas
  <input type="radio" name="interested_in" value="fasts" /> Facts

  <br>
  <br>

  <input type="Submit" value="What is my Personality?" />

</form>